[2016-03-01 23:30] saneyuki opened #1 "Will move to TypeScript?"
Do you have any plan to move to TypeScript?

I think there are some benefits
- for generic collections
- to uniform with https://github.com/ReactiveX/RxJS

[2016-04-04 14:53] zenparsing opened #2 "Test harness"
@mattpodwysocki There currently isn't any testing harness.  Can we add one?  I have no preferences on which one, although it should support promises.

[2016-04-05 18:31] mattpodwysocki commented on #2
@zenparsing either Mocha or Tape is good enough for me.

[2016-04-05 18:31] mattpodwysocki commented on #1
@saneyuki Not yet, as this is more to prove out the design of Iterables and AsyncIterables

[2016-04-15 16:06] christyharagan opened #4 "Asynciterable forEachAsync recurse function should return promise?"
Hey there,

Just looking through the code and noticed the following entry inside `asynciterable.js`:

[code]

Should this instead be?:

[code]

I.e.: Shouldn't the function return a promise? This ensures the promise doesn't resolve on the first element.

[2016-04-15 18:25] zenparsing commented on #4
@christyharagan

Honestly, I didn't even look at that function when I got AsyncIterable working, so I have no idea!  I'll take a look later on today though.

Thanks!

[2016-04-15 18:30] christyharagan commented on #4
Thinking about it some more, I actually think my version won't work either. I think this is the right version (looking at the whole method):

[code]

[2016-04-15 18:53] zenparsing commented on #4
That looks about right.  My take is here: https://github.com/ReactiveX/IxJS/pull/5

(Also, I pulled out the thisArg thing for now.)

[2016-04-15 18:55] christyharagan commented on #4
Ah yes, much cleaner :)

[2016-06-06 15:05] christyharagan opened #6 "Full re-write... Happy to contribute"
Hi guys,

I have just committed a full re-write of IxJS in TypeScript, complete with several new operators and tests. I followed the RxJS pattern of things (including extending base types, and npm scripts).

Please see here: [https://github.com/christyharagan/IxJS](https://github.com/christyharagan/IxJS)

I haven't published any packages yet as I'd like to make the offer of migrating re-write code

[2016-08-31 05:57] ichpuchtli commented on #6
@mattpodwysocki yes please. I don't mind helping as well.

[2017-02-15 16:38] OliverJAsh opened #7 "Operator: takeUntil"
Hi!

Are there plans to add a `takeUntil` operator to this library?

If so, I was wondering if we would have inclusive (take until and including) and exclusive versions (take until and excluding the first falsy predicate).

[2017-02-19 16:58] OliverJAsh commented on #7
An example of where this would be useful:

[code]

I'm not sure if `takeUntilInclusive` is a bad idea or not, or it the same can be achieved with other operators?

[2017-02-19 17:36] OliverJAsh commented on #7
Upon investigation, it looks like `takeWhileInclusive` might be a better idea here: http://stackoverflow.com/a/22472610/5932012

[2017-02-25 13:28] marcinnajder commented on #1
Hi, I did my own implementation https://github.com/marcinnajder/powerseq What do yo think ? :)

I am a huge fan of LINQ/RxJS from many many years. I work with JS/TS 4 years now, ES6 + TS + iterators + generators (natively on node) + VS code + RxJS5 approach to writing operators   is such a amazing combination.

[2017-03-01 09:48] OliverJAsh opened #9 "Cancellation?"
Do you have any ideas for how an async iterable, transformed using IxJS, can be cancelled by the consumer?

Obviously, async iterables use Promises which are not cancellable.

I'm really starting to wish async iterables used something that did support cancellation, such as [`Task`s](https://github.com/rpominov/fun-task). Then the user could receive an `unsubscribe` function, just like in RxJS with

[2017-03-04 14:40] OliverJAsh opened #10 "Next release"
Hi there,

I noticed there are some big changes in master pending a release. When can we expect a release?

Thanks!

[2017-04-11 21:13] OliverJAsh commented on #10
Hey @mattpodwysocki, any ideas on this? I would love to get involved.

[2017-04-11 21:17] OliverJAsh opened #13 "Operator: flatten"
Hi!

Are you planning to add a flatten operator for sync and async iterables?

Thanks,
Oliver

[2017-04-17 21:17] saneyuki opened #15 "Enable TravisCI"
Before merging any pull request, we should check the build result.

[2017-04-19 11:18] saneyuki commented on #15
At least, to enable this, we need to fix many compile errors on the current master introduced by https://github.com/ReactiveX/IxJS/pull/11

[2017-04-19 18:15] saneyuki opened #17 "Reimplement operators by new design"
After merging https://github.com/ReactiveX/IxJS/pull/16, almost operators implementations are disabled (commented out) for enable TravisCI once.

Their disabled codes has not been moved to the current design introduced by https://github.com/ReactiveX/IxJS/pull/11 yet. Thus we need to reimplement them by the new design.

BTW, I feel Ix's basic operator design has not been fixed. We also need to con

[2017-04-21 16:51] #15 closed

[2017-04-21 16:53] saneyuki commented on #2
We're [allowing to failure the test](https://github.com/ReactiveX/IxJS/blob/f0c7f9a8d093c1d423666a67d5d19feb06a512b4/.travis.yml#L19) (introduced by #16). We need to enable it when we resolve this.

[2017-05-11 10:41] staltz opened #19 "Use iterall"
How about using [iterall](https://github.com/leebyron/iterall) by Lee Byron to replace some stuff in `IxJS/src/internal`?

[2017-07-22 11:09] dacz opened #23 "Curried and args switched"
Would be nice to have some methods curried (and because of that switched arguments) to align with FP style.

Example:

[code]

[2017-07-31 23:18] rafaelkallis commented on #9
The iterator interface allow the consumer to cancel the iteration using the `return` function.

[code]

Extra reading: https://gist.github.com/dherman/11057861

[2017-08-02 22:18] mattpodwysocki commented on #13
@OliverJAsh yes, added already as per spec

[2017-08-02 22:18] #13 closed

[2017-08-02 22:19] mattpodwysocki commented on #7
@OliverJAsh added `takeUntil` as per spec for `AsyncIterableX`

[2017-08-02 22:19] #7 closed

[2017-08-02 22:19] mattpodwysocki commented on #4
Closing as per new design

[2017-08-02 22:19] #4 closed

[2017-08-02 22:20] mattpodwysocki commented on #9
@OliverJAsh yes, @rafaelkallis is correct here that `return` has the `cancel` semantics here with things that happen when an iteration `for await of` ends either naturally or there is a `break`

[2017-08-02 22:20] #9 closed

[2017-08-02 22:21] mattpodwysocki commented on #1
@saneyuki closing as it is now written in TypeScript

[2017-08-02 22:21] #1 closed

[2017-08-02 22:31] #17 closed

[2017-08-02 22:31] mattpodwysocki commented on #10
@OliverJAsh hoping to get this out this week

[2017-08-02 22:31] #10 closed

[2017-08-13 13:46] OliverJAsh commented on #7
Hi @mattpodwysocki. The `takeUntil` included accepts a promise parameter, however I would like a version that accepts a function parameter, like what you see in RxJava http://reactivex.io/RxJava/javadoc/rx/Observable.html#takeUntil(rx.functions.Func1)

Would you consider adding this?

[2017-08-15 21:18] trxcllnt commented on #2
@saneyuki @mattpodwysocki @zenparsing what work is left to be done here? do we need anything besides `npm test` exiting with a non-zero error code?

[2017-08-16 04:17] saneyuki commented on #2
@trxcllnt

We need to remove [this allowing failure section](https://github.com/ReactiveX/IxJS/blob/6cbe2fadb9661644328b6112f84e71cc2be5f763/.travis.yml#L22-L24) when we finish to pass `npm test` with no error code.

[2017-08-16 18:55] WorldMaker opened #27 "Typescript distribution"
**IxJS version:** 2.0.1

Under the new publishing regime with its breakdown by target and module type, and since I am already using Typescript myself, I would like to see a `@reactivex/ix-ts` that is simply a package of the Typescript source files without cruft and loadable directly as is. This would allow me to use my project's existing `tsconfig.json` target and module settings. This would make

[2017-08-17 00:28] trxcllnt commented on #27
@WorldMaker ah, right! will update the build and report back here when we have that module published. thanks!

[2017-08-17 01:08] mattpodwysocki commented on #6
@christyharagan @ichpuchtli all are welcome to contribute here now that we have everything up and running again with the lights back on.

[2017-08-17 01:08] #6 closed

[2017-08-17 01:26] mattpodwysocki commented on #23
@dacz I agree it would be nice, will investigate for an FP variant

[2017-08-17 17:54] patrimart opened #28 "Modules Not Found in Angular CLI Application"
Within an Angular/CLI application (in VS Code), ES imports cannot resolve the modules.  For example, these imports fail...

[code]

However, this import does work...

[code]
That, sadly, does not give me access to 'ix/iterable' functions.

[2017-08-17 23:34] trxcllnt commented on #28
@patrimart ah yes, we should add a section to the readme about aliasing `ix` via your tsconfig.json ["paths" entry](http://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) (probably easier once we do #27).

I _think_ you should be able to add this to your `tsconfig.json`:

[code]

[2017-08-18 01:29] patrimart commented on #28
That suggestion didn't work for me. I tried every path combo I could think of.

I'd like this to work with resorting to `ng eject`. Ix will nicely compliment RxJS, so I'm anxious to get at it!

[2017-08-19 23:57] patrimart commented on #28
A workaround that is letting me develop with IxJS is as follows...

In root of project, `git clone https://github.com/ReactiveX/IxJS.git`

Add this to `tsconfig.json`:
[code]
Perhaps including the `src` directory in the npm package would allow for more config flexibility.

[2017-08-20 00:54] trxcllnt commented on #28
@patrimart ah, thanks for the suggestion. I'll try this out locally and work out any impact it has on the build.

[2017-08-20 02:59] trxcllnt commented on #28
@patrimart update: I can get it working fine for normal TS projects and a "paths" entry, but not within angular-cli@1.3.1. It looks like we might be running into https://github.com/angular/angular-cli/issues/7341 here.

In the meantime, I'm going to investigate the right way to publish the TS source (be that as @reactivex/ix-ts, or including the `src` folder in the main `ix` package).

[2017-08-21 07:24] cartant commented on #23
Isn't this related to the refactoring that RxJS is currently undergoing with [this PR](https://github.com/ReactiveX/rxjs/pull/2667)? `chain` appears to be the equivalent of RxJS's `let`. Could a similar approach be used here?

[2017-08-22 00:27] patsissons opened #29 "some operator should support omitted comparer"
**IxJS version:** 2.0.1

**Code to reproduce:** `Iterable.of([1]).some()`

**Expected behavior:** returns true

**Actual behavior:** expected 1 params, but got 0

**Additional information:**

pretty simple fix, just change
`if (comparer(item, i++)) { return true; }`
to
`if (!comparer || comparer(item, i++)) { return true; }`

[2017-08-22 03:41] patsissons opened #30 "orderby operators missing from api surface"
**IxJS version:** 2.0.1

**Code to reproduce:** `Iterable.from([1]).orderBy(x => x)`

**Expected behavior:** returns an ordered iterable

**Actual behavior:** `property 'orderBy' does not exist on type 'Iterable<T>'`

**Additional information:**

The operator add `import` is just missing from the api surface, not sure if that was intentional or not.

[2017-08-22 17:36] patsissons opened #31 "No ordered iterable type is exported"
**IxJS version:** 2.0.1

**Code to reproduce:** `let source: OrderedIterable<number> = Iterable.from([1]).orderBy(x => x)`

**Expected behavior:** No type definition errors on `OrderedIterable`

**Actual behavior:** `no exported member OrderedIterable<T>`

**Additional information:**

This is useful if we ever need to define an unassigned ordered iterable variable. It's also convenient if we want

[2017-08-23 02:22] patsissons opened #32 "Update docs to include some getting started details with tsconfig"
**IxJS version:** 2.0.1

**Additional information:**

When i got started with `ix` while targetting `es5` I did not realize that I would need to add some extra libs to the typescript compiler to get things compiling (I had thought I was missing some `@types` for shims). by adding `esnext.asynciterable` to `lib` I was able to bring in the necessary type definitions to squelch the compiler errors. W

[2017-08-24 17:10] patsissons opened #33 "groupByProto signature is incorrect"
**IxJS version:** 2.0.1

**Additional information:**

the proto signature defines the outer iterable as a `source` param, instead of the `this` param.

[2017-08-24 17:13] patsissons commented on #33
I did a quick check on the remaining iterable operator adds and didn't see any other issues with `this` missing from the signature.

[2017-08-24 17:14] patsissons commented on #33
looks like it also affects the async variant.

[2017-08-24 17:47] #33 closed

[2017-08-24 18:19] trxcllnt commented on #28
@patrimart good news! as of @angular/cli@1.3.2, I'm able to get Ix aliased via `paths` entry in tsconfig. I'll add this to the readme, but here's everything you need to add to your top-level tsconfig to get it working (assuming the `@reactivex/ix-ts` module is installed):

[code]

[2017-08-24 18:55] trxcllnt commented on #27
@WorldMaker closing as resolved, as now we publish [`@reactivex/ix-ts`](https://www.npmjs.com/package/@reactivex/ix-ts)

[2017-08-24 18:55] #27 closed

[2017-08-24 18:56] trxcllnt commented on #28
@patrimart can you validate this works for you, so I can close the issue?

[2017-08-24 18:58] trxcllnt commented on #32
Going to mark this resolved as now the section on @angular/cli integration [mentions `esnext.asynciterable`](https://github.com/ReactiveX/IxJS/commit/91c36a246c3d6760fdfffd6e04ad68d0b48a1901#diff-0730bb7c2e8f9ea2438b52e419dd86c9R41). Thanks for the heads up!

[2017-08-24 18:58] #32 closed

[2017-08-24 19:30] patrimart commented on #28
I definitely will this evening, if you can wait.

[2017-08-24 19:58] patsissons opened #35 "groupBy operator has no resultSelector parameter"
**IxJS version:** `2.0.1`

**Additional information:**

`groupBy` will always emit `GroupedIterable` or `GroupedAsyncIterable` instances are results, which are sometimes not desired. we can use an optional `resultSelector` parameter to inject our own result projection into the operator.

[2017-08-24 19:58] patsissons commented on #35
I am working on this PR right now.

[2017-08-24 20:53] patsissons commented on #31
I'm not sure how strictly important this is as the work-around is relatively simple and the people that may actually make use of this is possibly quite small.

[2017-08-24 20:54] patsissons commented on #30
fairly low priority as we can easily add the operators as needed.

[2017-08-24 21:56] patsissons opened #38 "flatMap operator has no resultSelector parameter"
**IxJS version:** `2.0.1`

**Additional information:**

`flatMap` will always emit the inner result, which is sometimes not desired. we can use an optional `resultSelector` parameter to inject our own result projection using both the inner and outer values.

[2017-08-24 21:57] patsissons commented on #38
I am working on a PR for this right now.

[2017-08-24 22:05] mattpodwysocki commented on #38
@patsissons 'flatMap' as implemented works as expected and conforms to the [ES FlatMap proposal](https://github.com/tc39/proposal-flatMap) This deviates from RxJS and previous versions of IxJS, but I want this implementation to conform to the spec.

[2017-08-24 22:05] #38 closed

[2017-08-24 22:06] patsissons commented on #38
I see. can you please post a work around? i cannot think of any way to accomplish a flatMap projection..

[2017-08-24 22:20] mattpodwysocki commented on #38
@patsissons sure! It's as simple as 'source.flatMap(x => selector(x).map(y => { return { x, y }; }))'

[2017-08-24 22:23] patsissons commented on #38
SMH, can't believe I was so oblivious haha, sorry for the disturbance.

[2017-08-25 01:13] ichpuchtli commented on #30
@patsissons  Is ordering a responsibility of an iterable?. Only once its converted to a finite array can you begin to order it no?

[2017-08-25 01:22] ichpuchtli commented on #30
@patsissons never mind I see now that matt is collection/committing iterables to finite arrays in ix, for some reason I thought this project was being limited to operators you can perform without collection.

[2017-08-31 06:56] patrimart commented on #28
I finally tested this. For the given issue, this solves the problem.

However, there are a couple of side-effects.
1) Using the "paths" solution in an external module causes the importing app's compilation to fail because it's looking for "ix/..." from the external modules imports (which is not installed) instead of "@reactivex/ix-ts/...".
2) This may be a config issue on my end, but when compilin

[2017-09-01 14:49] #35 closed

[2017-09-01 14:57] mattpodwysocki opened #39 "Add Prepend and Append as standard methods"
**IxJS version:** 2.x

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

Add `prepend` and `append` to IxJS for both `AsyncIterableX` and `IterableX` to support n-ary arguments as they are standard .NET LINQ methods.

[2017-09-01 15:01] mattpodwysocki opened #40 "Deprecate startWith in favor of prepend"
**IxJS version:** 2.x

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

Deprecate the usage of `startWith` in favor of `prepend` which will align with Ix .NET and Rx .NET

[2017-09-01 15:05] mattpodwysocki opened #41 "Add Prettier support"
**IxJS version:** 2.x

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

Add [prettier](https://github.com/prettier/prettier) support for nicer code formatting.

[2017-09-01 15:06] #41 closed

[2017-09-01 16:07] mattpodwysocki commented on #29
@patsissons disagree here since `isEmpty` should suffice for checking if the collection has any values.  I'd rather stick with the ECMA standard for `Array.prototype.some`.

[2017-09-01 16:07] #29 closed

[2017-09-01 16:31] patsissons commented on #29
yea that's fine with me, I guess i didn't really think of using the negation of `isEmpty` instead.

[2017-09-01 17:05] #31 closed

[2017-09-01 17:05] mattpodwysocki commented on #31
@patsissons can you verify now?

[2017-09-01 17:13] mattpodwysocki opened #42 "Rethink skipUntil and takeUntil"
**IxJS version:** 2.x

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

Current implementations of `takeUntil` and `skipUntil` accept `Promise` values as parameters which is problematic given their eager nature.  Instead, we should look into the following overloads which support `AsyncIterator` as well as `() => Promise<any>`.

[code]

[2017-09-01 17:17] patsissons commented on #31
I believe that is nearly identical to what I had stubbed in during testing.

[2017-09-12 12:33] jchapuis opened #43 "Document package usage better"
I've had trouble using the package with a webpack-based build, the reason being that the types are not colocated with the .js files. Here's the line in `tsconfig.json` that finally made it work:
[code]
How about documenting this better, and even considering shipping with a package that is more "traditional" in structure and works out of the box - similar to the one for rxjs for instance - this wou

[2017-09-13 00:12] trxcllnt commented on #43
If you're working with the default `ix` project, VSCode intellisense works out of the box:
<img width="1666" alt="screen shot 2017-09-12 at 4 16 27 pm" src="https://user-images.githubusercontent.com/178183/30353010-4edaa096-97d8-11e7-84d8-7afe6dcbfb35.png">

The latest versions of webpack should also work without aliasing, since it respects the "module" and "esnext:main" entries in our package.jso

[2017-09-13 00:22] trxcllnt commented on #28
So this issue is a bit tricky. Off the top of my head, we have a few options here:

1. Restructure our source code so it's in the root folder (not in `src`) and go about our business
2. Change the docs to say `import { map } from '@reactivex/ix-ts/add/iterable-operators/map';`
3. Publish the `@reactivex/ix-ts` project as something shorter, like `ixjs` or `ixts`. The downside here is it's harder fo

[2017-09-13 08:14] jonatannyberg commented on #30
@patsissons This seems to be the case in 2.1.0 as well, for `orderBy` and `groupBy`. And no we can not easily add the operators as needed. Because the typings are wrong.

Example to reproduce in typescript (2.5.2):
[code]
The above code can not find `groupBy`, it is missing from 'Ix.d.ts'. If the `import` is changed to 'ix/types/add/iterable-operators/groupby' it would compile. But that would not

[2017-09-13 08:17] jchapuis commented on #43
Thanks for your detailed reply. I'm sorry, maybe I'm missing something trivial - but I still can't figure out how to make it work without the aliasing. I've got the latest vscode, typescript and webpack versions. Attached you'll see my setup. Thanks for any help, and good job on these essential libraries!
![image](https://user-images.githubusercontent.com/7502497/30366813-a322de7c-986c-11e7-9723-b

[2017-09-13 09:07] saneyuki commented on #28
Converting ix's structure to like rxjs's one?

[2017-09-13 09:15] jonatannyberg commented on #30
After trying to use 2.1.0 for a while with typescript now this issue seems to apply to several operators. Rendering this virtually unusable to any typescript development. I might be missing something here but I can not seem to figure out how to get this to work at all with typescript in its current state.

[2017-09-13 10:30] trxcllnt commented on #30
@jonatannyberg @patsissons it seems like VSCode is having an issue resolving the types when they're separated from the transpiled files, but I'll review the options when I get a chance this weekend. In the meantime, I've got VSCode working via paths entry in tsconfig:
[code]

I realize it's not ideal, but I hope it helps in the short term.

[2017-09-13 10:55] trxcllnt commented on #28
@saneyuki sort of. rxjs copies the source files into a subdirectory, and runs `tsc` on the copied to compile to JS (this was the only way to get valid sourcemap file URLs). Ix uses inline sourcemaps since they compose through all the different compilers I tested.

The IxJS publish step is different as well. We publish the top-level folder as the `ix` package, and also publish everything under (the

[2017-09-13 11:00] trxcllnt commented on #43
@jchapuis we're discussing this in other issues, so I'll be reviewing this weekend when I get a chance. I think adding a `{ paths: "ix/*": ["node_modules/ix/types/*"] }` entry to tsconfig is the quickest fix in the short term. Thanks for filing an issue and for your patience. I'll let you know when I think I have a fix.

[2017-09-13 12:48] jonatannyberg commented on #30
@patsissons @trxcllnt
Might be hard to get this to work without a shared tree for transpired files and the types.

I looked in to how RxJS solved it and there the transpiled files and the types share the same tree.

One solution that might work is to simply import the missing operators in Ix.ts; that solves the issue when importing from `ix`. It will still cause problems when trying to import dire

[2017-09-13 15:10] patsissons commented on #30
I apologize for not responding with my current working solution earlier.

`tsconfig.json` (partial)
[code]

`webpack.config.js` (partial)
[code]

[2017-09-19 15:35] jchapuis commented on #43
As a side note, I'm also having the same resolution problems with jest now, and will need to find a way to customize the paths for jest too.

[2017-09-19 16:19] jchapuis commented on #43
ok I've managed to make jest find Ix by including the following parameter in `package.json`, in the `"jest"` configuration section:

[code]

[2017-09-20 17:12] OliverJAsh commented on #42
I would also suggest adding a `takeUntil` overload which receives a predicate function, like in RxJava

https://github.com/ReactiveX/IxJS/issues/7#issuecomment-322043165
http://reactivex.io/RxJava/javadoc/rx/Observable.html#takeUntil(rx.functions.Func1)

[2017-09-20 17:22] OliverJAsh opened #44 "Support user defined type guards in filter predicates"
**IxJS version:**
2.1.0

**Code to reproduce:**
[code]

[2017-09-20 17:38] OliverJAsh commented on #7
To anyone who comes here needing this. Here's a custom implementation you can use:

[code]

[2017-09-21 00:16] ichpuchtli commented on #44
wow I didn't know that that's awesome.

[2017-09-22 08:42] jonatannyberg commented on #30
@patsissons it is posible to get this to work with webpack/systemjs or similar by telling the runtime how to locate the files and by telling the transpiler where to find the .d.ts files at compile time. The core issue still remains however.

When compiling for a pure node run time (not building with webpack) it is very hard to get this to work. It is possible to get it to compile with the path wor

[2017-09-22 20:57] trxcllnt commented on #30
@jonatannyberg yes, I am working on a PR now to address this

[2017-10-03 03:04] saneyuki opened #46 "Lettable operators"
On rxjs side, [they're implementing lettable operators](https://github.com/ReactiveX/rxjs/blob/master/doc/lettable-operators.md) to make it more friendly with tree shaking.
I think it's better that we also consider to accept the way.

[2017-10-03 03:19] trxcllnt commented on #43
@jchapuis we just published #45 as `ix@2.1.2` on npm, which should address this issue. Now all the files in the module directly correspond to the path structure in the docs, so you should be able to remove any path mappings you have after you've upgraded. Leave this issue open for a few days so you can still use this thread if there's any trouble. Otherwise, happy hacking!

[2017-10-03 03:21] trxcllnt commented on #30
@jonatannyberg @patsissons @ichpuchtli we just published #45 as `ix@2.1.2` on npm, which should address these issues. We now export the types for the Grouped and Ordered internals, and all the files in the module directly correspond to the path structure in the docs. You should be able to remove any path mappings you have after the upgrade. I'll leave this issue open for a few days so you can stil

[2017-10-03 03:23] trxcllnt commented on #28
@patrimart we just published #45 as `ix@2.1.2` on npm, which should address this issue. All the files in the new version directly correspond to the path structure in the docs, so you should be able to remove any path mappings you have after you've upgraded. I'll leave this issue open for a few days so you can still use this thread if there's any trouble. Otherwise, happy hacking!

[2017-10-03 04:03] saneyuki opened #47 "v2.1.2 will be compile error with TypeScript 2.5.3"
## IxJS version

- TypeScript: 2.5.3
- `ix@2.1.2`

## Code to reproduce

`tsc -p ./tsconfig.json`

### tsconfig.json

[code]

### example.ts

[code]

**Expected behavior:**

Threre are no error.

**Actual behavior:**

`tsc` causes these error:

[code]

**Additional information:**

- If I use `@reactivex/ix-esnext-esm`, then there are no error.

[2017-10-03 04:22] trxcllnt commented on #47
@saneyuki looks like we use "noImplicitUseStrict" instead of "alwaysStrict". We also don't use "noImplicitReturns" or "noUnusedParameters", though we should. In the meantime, I'll publish a version with the TS sources renamed to `d.ts` files so tsc stops trying to compile them

[2017-10-03 04:32] saneyuki opened #48 "Enable tsc's noImplicitReturns option"
This would be nice as a lint.

[2017-10-03 04:33] saneyuki opened #49 "Enable tsc's noUnusedParameters option"
This would be nice as a lint.

[2017-10-03 04:35] saneyuki commented on #47
@trxcllnt

I filed them as a new issue :)

- https://github.com/ReactiveX/IxJS/issues/48
- https://github.com/ReactiveX/IxJS/issues/49

[2017-10-03 06:11] jchapuis commented on #43
@trxcllnt great thanks!

[2017-10-03 10:21] #47 closed

[2017-10-03 10:21] #48 closed

[2017-10-03 10:21] #49 closed

[2017-10-03 11:12] trxcllnt commented on #47
@saneyuki `v2.1.3` is out now, give it a shot

[2017-10-03 18:07] patsissons commented on #30
checks out. removed my mappings in tsconfig and webpack config and everything is connecting together nicely. importing additional operators through `'ix/add/*'` still works properly (without the mappings). Nice work!

[2017-10-03 19:37] trxcllnt commented on #30
@patsissons 🎉 🙏

[2017-10-03 19:37] #30 closed

[2017-10-04 01:20] saneyuki commented on #47
@trxcllnt thank you!

[2017-10-04 12:58] graingert opened #52 "create a really nice tree-shakable ES module, with flow function"
[code]

[2017-10-04 18:08] trxcllnt commented on #52
@graingert we support importing operators individually at the moment, but we also have work planned to export pipe-friendly variants of each operator.

You can also use the [`ix/iterable/__modules`](https://github.com/ReactiveX/IxJS/blob/master/src/iterable/__modules.ts) default export, which I _think_ can be tree-shook automatically (if not, we can change this back to the `export *` form). We onl

[2017-10-04 18:09] graingert commented on #52
@trxcllnt the export default is not tree-shakeable.

[2017-10-04 18:17] trxcllnt commented on #52
@graingert no problem then, we can change that easily enough.

It's a default export b/c closure-compiler doesn't work with `export *`, but considering we don't run the raw ES2015 through CC yet, we can change it and figure that out when CC is ready.

[2017-10-04 19:10] graingert commented on #52
@trxcllnt I'd like a true .mjs module available in the package.

[2017-10-04 19:30] trxcllnt commented on #52
do you mind clarifying what you mean? we are publishing the es2015/ESModules compilation target as `.mjs` in the main ix package:

<img width="769" alt="screen shot 2017-10-04 at 12 27 57 pm" src="https://user-images.githubusercontent.com/178183/31195626-ca9d4674-a8ff-11e7-82ea-f0f725434fc1.png">

[2017-10-04 19:32] graingert commented on #52
As apposed to one with a single default export, as in __module

[2017-10-04 19:35] trxcllnt commented on #52
yeah one [like this](https://github.com/ReactiveX/IxJS/blob/a05e0852171de6ec5ce452d1b5c371bcc0056b79/src/iterable/__modules.ts), right?

[2017-10-04 19:37] graingert commented on #52
Yes exactly like that

[2017-10-04 19:45] trxcllnt commented on #52
yeah I said we can do that again

[2017-10-04 19:48] graingert commented on #52
Nice, didn't know it was there

[2017-10-04 19:49] graingert commented on #52
Should I open a new issue for curried, data-last function

[2017-10-04 19:53] trxcllnt commented on #52
@graingert nah we already got #23 and #46, and it's planned. would be happy to review a PR if you want to do the manual work of adding all the new pipe-aware impls (and if so, hmu cuz we have thoughts about how to make it less painful), but otherwise it'll happen when we have time.

[2017-10-04 22:27] graingert commented on #23
can we also support `_.flow` or provide a flow/compose function:

[code]

[2017-10-05 05:53] #43 closed

[2017-10-05 05:53] trxcllnt commented on #44
that is sick -- how would we go about supporting this?

[2017-10-05 07:35] #44 closed

[2017-10-05 07:35] trxcllnt commented on #44
@OliverJAsh 🎉 thanks!

[2017-10-05 11:32] DanHarman commented on #30
@trxcllnt I must be doing something wrong as I'm still having to manually import orderby for it to appear?

I'm using ix@2.1.4. with the following tsconfig:

[code]

Any suggestions appreciated!

[2017-10-05 17:13] felixfbecker opened #57 "Create a Gitter channel"
Would be great to have one, the RxJS Gitter channel is one of the best and most active I know

[2017-10-05 17:41] mattpodwysocki commented on #57
Closed as of https://github.com/ReactiveX/IxJS/commit/eecd2b963a7258671d15b2b33d3045d9f9dd716f

[2017-10-05 17:41] #57 closed

[2017-10-08 04:36] micahstubbs opened #66 "transpile gulpfile?"
curious, would it make sense to transpile the gulpfile down to **ES5**? when I run `gulp build`, it complains about the `...` spread operator

![screen shot 2017-10-07 at 9 33 40 pm](https://user-images.githubusercontent.com/2119400/31313947-633eb5a8-aba7-11e7-937c-1d3833af468e.png)

![screen shot 2017-10-07 at 9 39 22 pm](https://user-images.githubusercontent.com/2119400/31313962-021365de-aba8-11

[2017-10-08 04:38] micahstubbs commented on #66
if not, are there special environment setup instructions to enable `es2015+` syntax in `gulpfile.js`?

[2017-10-08 05:00] micahstubbs opened #68 "2nd example in docs is broken - ReferenceError: x is not defined"
![screen shot 2017-10-07 at 9 58 47 pm](https://user-images.githubusercontent.com/2119400/31314056-fe0585aa-abaa-11e7-8a61-d15d3f65f0a1.png)

[2017-10-08 18:31] micahstubbs opened #69 "operator import example in docs has stray character, missing output"
![ixjs-example-screenshot](https://user-images.githubusercontent.com/2119400/31319655-4605102a-ac1c-11e7-881f-514461d95c7a.png)

[2017-10-09 19:17] OliverJAsh commented on #44
@trxcllnt Using 2.1.4, the example above still seems to generate an error. Any ideas?

[2017-10-09 20:21] trxcllnt commented on #66
@micahstubbs ah, yeah we've gotten lazy b/c node 8.6 runs the gulpfile just fine

[2017-10-09 20:23] trxcllnt commented on #44
@OliverJAsh I don't think they made it in the 2.1.4 release, will circle back with @mattpodwysocki and do another release soon

[2017-10-09 20:24] #68 closed

[2017-10-09 22:59] micahstubbs commented on #66
noted, will update to node 8.6 👌

[2017-10-09 23:00] micahstubbs opened #72 "document node 8.6 or higher dependency for gulpfile"
as mentioned in #66

[2017-10-09 23:01] #66 closed

[2017-10-09 23:08] micahstubbs commented on #72
reference for node support for ESNEXT features http://node.green/#ESNEXT

[2017-10-10 04:48] saneyuki commented on #46
relate: https://github.com/ReactiveX/IxJS/pull/75

[2017-10-10 16:40] #69 closed

[2017-10-11 04:41] greenkeeper[bot] opened #77 "An in-range update of tslib is breaking the build 🚨"
## Version **1.8.0** of [tslib](https://github.com/Microsoft/tslib) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ReactiveX/IxJS/compare/greenkeeper%2Ftslib-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslib
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-10-11 18:27] micahstubbs opened #78 "chain example in docs: of, map, filter is not a function (with CommonJS require)"
It looks like in the chain example we import the object that has a method we want.  I think the idea of the example is to assign the `map` method itself to a variable, rather than assigning it's parent object.

**IxJS version:**
"ix": "^2.1.4"

**Code to reproduce:**
[code]

**Expected behavior:**
output `Next 4`

**Actual behavior:**
error message

[2017-10-12 00:18] #78 closed

[2017-10-12 02:03] patsissons opened #81 "default comparer function should be more accurate"
**IxJS version:**
`2.1.4`

**Code to reproduce:**
[code]

**Expected behavior:**
`shouldBeTrue` should be `true`

**Actual behavior:**
`shouldBeTrue` is be `false`

**Additional information:**
the default comparer should have some more comparator fallbacks to better handle strings and objects. I have been using a custom comparer for a while now, it may be a bit overkill but it works really well wi

[2017-10-12 04:30] trxcllnt commented on #81
I'd be down for having a way to configuring the defaultCompare. I'd be wary of us hard-coding anything fancy esp. wrt `localCompare`, I've had to debug major perf issues w/ that in (probably now outdated versions of) node before.

Regardless it looks like the [`defaultCompare`](https://github.com/ReactiveX/IxJS/blob/master/src/internal/comparer.ts#L6) we have now is straight up busted, as it falls

[2017-10-12 04:33] patsissons commented on #81
yea that snippet is just what i am using currently, but not necessarily a suggestion for a replacement. I think your idea to inject a custom default comparer function is a great idea.

[2017-10-14 23:32] mattpodwysocki commented on #81
@patsissons closed by https://github.com/ReactiveX/IxJS/commit/c6a67ebe517e25451b9f7071d1924d2f36b4b42f

[2017-10-14 23:32] #81 closed

[2017-10-15 04:47] trxcllnt commented on #44
@OliverJAsh just pushed this out in 2.2.0. I also wanna call out [this breaking change](https://github.com/ReactiveX/IxJS/pull/73) to `zip`

[2017-10-15 04:50] trxcllnt commented on #72
@micahstubbs we can also replace with `Object.assign()` instead of object-spread, as I think that's the only node 8 feature the gulpfile uses

[2017-10-15 04:54] #28 closed

[2017-10-15 18:39] OliverJAsh commented on #44
I'm using 2.2.0 and the example above still seems to generate an error. Any ideas? @trxcllnt

[code]

![image](https://user-images.githubusercontent.com/921609/31587840-9c00dec2-b1e0-11e7-9cd3-79eef48750d8.png)

[2017-10-15 19:04] trxcllnt commented on #44
@OliverJAsh oh you're right, looks like I forgot to extend the [generic type](https://github.com/ReactiveX/IxJS/pull/56/files#diff-aa90e45f494e48ae697cd001aad3eca6R3):

[code]

Although there's still the issue that `1 instanceof Number` evaluates to `false`, so the runtime behavior won't be what you expect even though TS gives the OK. I ran into that in the [type guards test](https://github.com/Re

[2017-10-15 22:25] micahstubbs commented on #72
good point, that would likely reduce friction for new contributors ☺

[2017-10-17 19:58] OliverJAsh commented on #44
Thanks for the fix @trxcllnt. I'll give it another go once it's released.

I've updated the example in the original post now.

[2017-10-18 04:22] #77 closed

[2017-10-27 17:52] mattpodwysocki opened #113 "Implement combineLatest for AsyncIterable"
**IxJS version:**

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

Add `combineLatest` which mirrors `zip` but will track the latest from each `AsyncIterable` input.

[code]

[2017-10-27 18:08] mattpodwysocki opened #114 "Implement from Node.js Streams"
**IxJS version:**

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

IxJS, since it's specialty is in I/O problems, that we need explicit conversions to and from Node.js streams.  This will intrinsically support backpressure as you do not pull more than you need.  We already have `AsyncSink` which is a Node.js stream already, but we would like a mor

[2017-10-27 18:50] mattpodwysocki commented on #39
Closed as added `endWith` and `startWith`

[2017-10-27 18:50] #39 closed

[2017-10-30 00:59] #52 closed

[2017-10-31 14:33] mattpodwysocki commented on #46
Closed as per #75

[2017-10-31 14:33] #46 closed

[2017-10-31 14:33] mattpodwysocki commented on #42
Closed as per #75

[2017-10-31 14:33] #42 closed

[2017-11-02 04:11] #114 closed

[2017-11-03 03:53] mattpodwysocki commented on #40
Closed in favor of `startWith` and `endWith`

[2017-11-03 03:53] #40 closed

[2017-11-03 14:56] mattpodwysocki commented on #113
Closed by #132

[2017-11-03 14:56] #113 closed

[2017-11-06 16:36] mattpodwysocki commented on #23
@dacz @graingert is the `pipe` mechanism we have good enough or do we need more?

[2017-11-06 16:42] graingert commented on #23
@mattpodwysocki I'd like to be able to use a flow function to create other functions:

[code]

(eg I'd like to be able to use the whole of IxJS without ever calling a method, or worrying about `this`)

[2017-11-06 16:46] graingert commented on #23
and if/when `|>` is released I'd like to be able to use that.
[code]

[2017-11-06 16:49] mattpodwysocki commented on #23
@graingert that's already supported since `source` would be the first applied argument.

[code]

[2017-11-06 16:50] graingert commented on #23
@mattpodwysocki ah good stuff. how about a single namespace to import from?

[2017-11-06 16:59] mattpodwysocki commented on #23
@graingert that's why we have an [`index.ts`](https://github.com/ReactiveX/IxJS/blob/master/src/iterable/index.ts) in each area root for just that purpose.

[2017-11-06 17:01] graingert commented on #23
@mattpodwysocki I mean the whole library in fp/pipe form. Currently you're doing it like:

[code]

I want:

[code]

[2017-11-06 18:04] trxcllnt commented on #23
@graingert the present structure is in place to support all three styles. At a minimum operators for the iterable/asyncIterable will stay separate, since they share names. Importing everything from the root is convenient, but won't tree shake.

[2017-11-06 19:25] mattpodwysocki commented on #19
Closing as per stale issue

[2017-11-06 19:25] #19 closed

[2017-11-06 19:25] mattpodwysocki commented on #2
Closing as per stale issue

[2017-11-06 19:25] #2 closed

[2017-11-10 19:32] OliverJAsh commented on #44
@trxcllnt Thanks for fixing this! My original example works, however this doesn't:

[code]

Any ideas what is causing this?

[2017-11-13 03:39] lizardruss opened #149 "from(Observable) does not handle asynchronously emitting observables"
**IxJS version:**
v2.3.1

**Code to reproduce:**
[code]

**Expected behavior:**
It should iterate the values from the observable.

**Actual behavior:**
No values are iterated.

**Additional information:**
PR #150 submitted to address this issue.

[2017-11-13 17:12] mattpodwysocki commented on #149
Closed via #150

[2017-11-13 17:12] #149 closed

[2017-11-20 12:23] OliverJAsh opened #162 "Narrowed types from user defined type guards are lost in subsequent method calls"
**IxJS version:** 2.3.1

**Code to reproduce:**
[code]

Related https://github.com/ReactiveX/IxJS/issues/44

[2017-11-20 12:24] OliverJAsh commented on #44
I opened a separate issue to track the above https://github.com/ReactiveX/IxJS/issues/162

[2017-11-21 09:54] trxcllnt commented on #162
@OliverJAsh ah, so I think this is a typescript bug. Check this out:

[code]

It looks like adding an `any` type annotation to the filter predicate argument fakes typescript out somehow. Doing the same with Iterable yields roughly the same behavior:

[code]

And here's something else that's strange; the source Array's generic type is preserved, while the source Iterable's is erased:
<img width="54

[2017-11-21 10:00] OliverJAsh commented on #162
@trxcllnt Good investigation! I opened an issue on TypeScript with regards to this. See https://github.com/Microsoft/TypeScript/issues/20186.

[2017-11-21 10:01] trxcllnt commented on #162
@OliverJAsh also, looks like defining the predicate before chaining also fixes it:
[code]

[2017-11-21 10:12] trxcllnt commented on #162
(cross-posting from https://github.com/Microsoft/TypeScript/issues/20186)

@OliverJAsh based on https://github.com/Microsoft/TypeScript/issues/19640#issuecomment-341122227 it looks like this may be fixed by #17600, as this form also works in 2.6.1:

[code]

[2017-11-21 21:40] patsissons opened #163 "postinstall script using shelljs doesn't escape $"
**IxJS version:**
`2.3.2`

**Code to reproduce:**
`npm install ix` in windows

**Expected behavior:**
`ix` is installed

**Actual behavior:**
[code]

**Additional information:**
Related commit: 4493754d9fbbc061347d8ef785704b61ecb486c5

I'm guessing this is due to `$(node` being interpreted literally rather than as an embedded expression.

[2017-11-21 22:56] trxcllnt commented on #163
@patsissons thanks I'll fix and publish a new release asap. I'm not on Windows so I can't test locally (I'll add an `npm install` smoketest in appveyor though), do I just have to escape `$` characters with `\` ?

[2017-11-21 23:25] #163 closed

[2017-11-21 23:28] trxcllnt commented on #163
@patsissons 564c60044a693515de253360a2f420ecca392412 reverts 4493754d9fbbc061347d8ef785704b61ecb486c5, and just published 2.3.3 to npm. I guess we'll have to wait until https://github.com/Microsoft/tslib/pull/44 is merged before we can have true `--experimental-modules` support

[2017-11-21 23:33] patsissons commented on #163
I'm not actually sure how you would make this work on windows, i was trying to figure something out to shim a fix in, but couldn't really come up with anything reasonable. Thanks for the quick turn around.

[2017-11-29 21:19] patsissons opened #170 "groupBy resultSelector values type is incorrect"
**IxJS version:**
`2.3.1`

**Additional information:**

`createGrouping` returns a the grouped items as an array instead of an iterable.

[2017-12-04 17:13] mattpodwysocki commented on #170
@patsissons but an `Array` is an `Iterable`, unless you're thinking it must be an `IterableX` type.

[2017-12-04 17:22] patsissons commented on #170
I don't see `Iterable` being assignable to `Array` (or vice versa), I am now on `2.3.4`. The issue I am encountering is that the `groupBy` `resultSelector` `values` param is typed as `Iterable`, but I cannot use any `Iterable` operators on it because it is actually just an `Array`.

[2017-12-20 21:59] WorldMaker opened #188 "Pipe-able orderBy"
**IxJS version:** 2.3.4

**Code to reproduce:**

[code]

**Expected behavior:**

An imported pipe-able `orderBy`.

**Actual behavior:**

There is no `orderBy` under `src/iterable/pipe`, so it cannot be imported or used.

**Additional information:**

This appears to be a simple oversight / missed operator file in the pipe PR.

[2017-12-22 14:29] #188 closed

[2018-01-18 22:47] greenkeeper[bot] opened #205 "An in-range update of tslib is breaking the build 🚨"
## Version **1.9.0** of [tslib](https://github.com/Microsoft/tslib) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ReactiveX/IxJS/compare/greenkeeper%2Ftslib-1.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslib
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2018-01-30 13:22] OliverJAsh opened #212 "Lettable operator examples are wrong"
**IxJS version:** 2.3.4

**Code to reproduce:**

The `README` has the following example on how to use lettable operators:

[code]

A few issues here:

- Where does `of` come from?
- `import { map, filter } from 'ix/iterable/pipe';` does not seem to work. Rather one has to do `import { map } from 'ix/iterable/pipe/map';` etc.

[2018-01-30 13:24] OliverJAsh opened #213 "Some operators are not exposed as lettables"
**IxJS version:** 2.3.4

Whilst `import { filter } from 'ix/iterable/pipe/filter';` works, `import { orderBy } from 'ix/iterable/pipe/orderby';` does not (module does not exist).

I can see the lettable operator defined in the source code (https://github.com/ReactiveX/IxJS/blob/master/src/iterable/orderby.ts), but this is not in the released npm package: https://unpkg.com/ix@2.3.4/iterable/pipe/

[2018-01-30 16:03] trxcllnt commented on #213
Ah yeah we might have added that after the most recent publish. I’ll review today and republish a new version with the latest!

[2018-02-05 18:52] patsissons opened #214 "IxJS not compatible with typescript 2.7"
**IxJS version:**
`2.3.4`

**Code to reproduce:**
this is a type declaration error, so any usage of `tsc` with the current version of `ix` will fail.

**Expected behavior:**
no compilation errors

**Actual behavior:**
example output (using the webpack `at-loader`)
[code]

**Additional information:**
There are some missing exports on the above 3 mentioned files that declare the _catch all_ function

[2018-02-05 19:08] patsissons commented on #214
Until #215 is merged, there is a work around by performing some unconventional augmentations.

[code]

[2018-02-06 00:38] trxcllnt commented on #214
thanks @patsissons, I was worried we might see some issues with 2.7. Will validate the fix (and maybe fix CI) later tonight.

[2018-02-13 06:18] #214 closed

[2018-02-26 20:21] davidsk opened #220 "Document transition from Reactive-Extensions/IxJS to ReactiveX/IxJS"
According to a comment on a [pull request](https://github.com/Reactive-Extensions/IxJS/pull/24) on the Reactive-Extensions/IxJS repository, the Reactive-Extensions/IxJs project is 'dead' and has been either replaced or superceded by _this_ project.

Can this project replace the former IxJs implementation and if so, is there any documentation available?

[2018-02-27 02:24] #162 closed

[2018-03-01 01:48] desnor commented on #212
I had a quick look through and to explain what's happening with your points respectively:

* The `of` operator comes from above `Iterable` object. So this example should really be `Iterable.of`
* The `import { map, filter } from 'ix/iterable/pipe';` doesn't do what we expect here because ` import ... from 'ix/iterable/pipe'` returns us the function `pipe` not the subdirectory which contains the pi

[2018-03-01 01:57] desnor commented on #212
Bit more info from doing this:

`require.resolve('ix/iterable/pipe');`
`=> .../ix/node_modules/ix/iterable/pipe.js`

whereas
`require.resolve('ix/iterable/pipe/');`
`.../ix/node_modules/ix/iterable/pipe/index.js`

[2018-03-01 09:33] OliverJAsh commented on #212
@desnor That makes sense to me!

[2018-04-17 17:26] acchou opened #227 "Using IxJS with Node"
**IxJS version:**
v2.3.5

**Code to reproduce:**

tsconfig.json:

[code]

package.json:

[code]

src/main.js:
[code]

**Expected behavior:**

This is pretty much the example in the readme, the expected output is:
[code]

**Actual behavior:**

[code]

**Additional information:**

First of all, thanks for building IxJS, it seems like a very powerful and compact library for working with async iterato

[2018-04-17 17:36] acchou commented on #227
Here's a repo with the project: https://github.com/acchou/ixjs-example

[2018-04-17 18:59] trxcllnt commented on #227
@acchou to use Ix without transpiling, you need to launch with node's `--harmony_async_iteration` flag

[2018-04-17 19:45] trxcllnt commented on #227
The tests are run via `ts-node`, which I believe polyfills any native JS globals based on the `tsconfig` settings it's run with. It's probably still a good idea to pull in a polyfill for `Symbol.asyncIterator` though.

[2018-04-17 21:01] acchou commented on #227
Thank you, this resolves the issue with `Symbol.asyncIterator`... I wasn't aware of this flag as I'm new to Node and to generators.

How about the DOM library issue? I can issue a PR with some type definitions for `EventTarget` and `EventListener` if that is a way forward.

[2018-05-25 20:22] dobesv opened #233 "ix/asynciterable/from doesn't seem to exist, despite being used in an example"
The example in the README include this piece of code:

[code]

However, it doesn't seem like any such module exists.

**IxJS version:**

2.3.5

**Code to reproduce:**

`require('ix/asynciterable/from';`

**Expected behavior:**

Module exists

**Actual behavior:**

Module does not exist.

**Additional information:**

[2018-05-25 21:11] trxcllnt commented on #233
Ah yeah, we need to update the docs. the `from` method is currently static on the `AsyncIterableX` class, not exported as a separate module. I need to do a bunch of house keeping in general soon, so I'll be sure to update the examples. Thanks for reporting @dobesv.

[2018-06-08 09:44] KonanMentor opened #236 "Failed type inference using `from` static method with Rx.Observable"
**IxJS version:** 2.3.5

**RxJS version:** 5.5.11

**Code to reproduce:**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Additional information:**

It seems that is happens due to the behaviour that is described [here](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#type-inference-in-conditional-types).

If we reorder the `subscribe` method signatu

[2018-06-08 17:47] trxcllnt commented on #236
Seems reasonable. I'll add it to the backlog

[2018-06-27 06:56] davidsk commented on #220
Anyone? @mattpodwysocki @trxcllnt

[2018-06-27 11:53] trxcllnt commented on #220
@davidsk woops, sorry I don't know how I missed this. Yes, I think this replaces `ix@1.0.0` for the 95% case. Matt did a great job on the tests, and aside from a bit of build cleanup, typings fixes, and general interop with node/whatwg streams, I haven't had any issues using in production code.

As for docs, they should translate nearly 1-1 with the other IEnumerable implementations. I usually tru

[2018-07-13 09:39] RemcoBlok opened #237 "groupby is missing overload with equality comparer for keySelector"
Hello,

The groupby appears to be missing an overload with an equality comparer for the keySelector. Could that be added please?

kind regards

Remco

[2018-07-17 16:59] trxcllnt commented on #237
@RemcoBlok that sounds good to me. I'll add it to the list, and try to get something out soon.

[2018-07-29 12:35] LinPoLen opened #238 "Support Recursive/Tree Operator."
First of All, I want to say this is also a awesome project. and this is what i wanted in handing proactive data.

thanks.

**IxJS version:**

**Code to reproduce:**

**Expected behavior:**
[code]

output
[code]

**Actual behavior:**

**Additional information:**

[2018-07-30 02:04] LinBoLen commented on #43
angular use package.json to refer different target
[code]

the reactivex/ixjs have following different target
[code]

I don't know how to unify my import entry?

[2018-07-30 06:36] LinBoLen commented on #238
yes! It can cover my requirements.

but, I don't like the api from `expand`
I craft a requirement friendly class.

[code]

[2018-07-30 19:46] trxcllnt commented on #238
`expand` is a generic combinator that's shared with AsyncIterable, as well as Rx and the rest of the LINQ family of projects, and the API was intentionally written to work with selectors that return Iterables to support a wide variety of applications. I'm glad it sounds like you've found something that works for you. Let me know if you have any more questions. If not, I'll close this issue in a fe

[2018-08-11 20:36] OliverJAsh commented on #7
Similar feature request for RxJS, which seems to have a good amount of support: https://github.com/ReactiveX/rxjs/issues/2420.

If I sent a PR for this, would it be reviewed and potentially accepted?

[2018-08-13 17:46] trxcllnt commented on #7
@OliverJAsh yes, definitely! @mattpodwysocki might have more time than me, I'm pretty slammed till the end of the month, but we should be able to work it in.

[2018-10-09 17:08] slikts opened #240 "API docs missing"
I'm not sure if I'm being obtuse, but where are the API docs? Even the default tsdoc output would help.

[2018-10-09 22:46] slikts commented on #240
I tried running the esdoc npm script after building, but that only seemed to copy sources into .html files. Running typedoc worked, however; the result can be seen here: https://slikts.github.io/IxJS/

[2018-10-11 17:57] trxcllnt commented on #240
@slikts thanks, this looks great! @mattpodwysocki what do you think?

[2018-10-12 13:52] slikts commented on #240
I've actually found it simpler to directly use the source as a reference. The typedoc results might be better than nothing, but they're rather noisy and chaotic. esdoc might be better, but I'm not familiar enough with either this or it to make it work. documentation.js is nice, but it unfortunately [doesn't support TS][doc] (yet?).

[doc]: https://github.com/documentationjs/documentation/issues/28

[2018-10-23 16:55] mpodwysocki commented on #240
@trxcllnt agreed! Looks great to me

[2018-11-23 17:53] Sawtaytoes commented on #212
Or better yet, why not match RxJS's import style? I would assume most users of IxJS would be RxJS folks not wanting to learn another transducer library. Is that assumption correct?

If so, wouldn't `ixjs/operators` make the most sense?

Also, I noticed this example was wrong as well:
[code]

In this example, `AsyncIterable` is imported, but `from` is never imported directly. Should it be `AsyncIte

[2018-12-05 15:16] felixfbecker opened #244 "flatMap iterates sequentially instead of in parallel"
I expected `flatMap` to work like RxJS `flatMap`/`mergeMap`. In RxJS, when the source emits items, the map function is invoked immediately and the inner emissions flattened out. Inner submissions of different outer emissions can come in in any order as map functions are potentially executed concurrently.

`flatMap` in Ix however seems to work more like `concatMap`. It will completely drain the ite

[2018-12-05 16:27] felixfbecker opened #245 "toObservable() is not compatible with Rx (observer is not partial)"
**IxJS version:**

**Code to reproduce:**
[code]

**Expected behavior:**
Should compile

**Actual behavior:**
Fails with
[code]
This is because `Observable` as defined in Ix takes an Observer where all of `next`, `error` and `complete` _have_ to be provided, instead of being optional.

**Additional information:**

[2018-12-05 16:32] felixfbecker opened #246 "mergeStatic() does not work with 0 parameters (and therefor not with spreaded arrays)"
**IxJS version:**

**Code to reproduce:**
[code]

**Expected behavior:**
Should compile

**Actual behavior:**
Fails with
[code]

**Additional information:**

[2018-12-05 20:33] trxcllnt commented on #245
Ah yes this has been bothering me too. Ix also doesn't add the `Symbol.observable` property to the returned Observable, which I've been working around in JS this way:

[code]

[2018-12-05 22:56] trxcllnt commented on #244
`merge` and `mergeAll` diverge in behavior like this because the collection they're merging are different. `merge` is flattening an `Array<AsyncIterable<T>>`, while `mergeAll` is flattening an `AsyncIterable<AsyncIterable<T>>`.

Because we have to use [`Promise.race`](https://github.com/ReactiveX/IxJS/blob/master/src/asynciterable/merge.ts#L32) to subscribe to promises concurrently, `merge` over a

[2018-12-20 20:21] trxcllnt opened #249 "Remove Greenkeeper integration"
@mattpodwysocki looks like I don't have permissions to remove/disable greenkeeper, but you probably do: https://github.com/organizations/ReactiveX/settings/installations/57487

[2018-12-21 01:33] felixfbecker commented on #244
I think I found a nice solution for my use case. What I wanted was actually to introduce _bound_ concurrency, e.g. flat map the source stream with 5 items at a time max. This can be done by using `merge()` and simply passing it the same AsyncIterable multiple times. Any call to `next()` on either of the references passed will advance the same underlying iterator, and `merge()` will race the passed

[2019-01-03 07:20] #249 closed

[2019-01-10 02:57] arseneyr commented on #245
I think this fix broke compatibility in the other direction (creating an `AsyncIterable` from a rxjs `Observable`):
[code]
 works fine with `ix@2.3.5` but fails on `ix@2.4.3` with
[code]
This might be related to ReactiveX/RxJS#3890 where [Symbol.observable] doesn't make it into the typings for rxjs observables.

Note that if you work around this problem with
[code]
it still fails with
[code]

[2019-01-10 19:38] trxcllnt commented on #245
Dang, lemme see what I can do about that. Thanks for flagging this @arseneyr!

[2019-01-11 08:43] #245 closed

[2019-01-12 06:05] trxcllnt opened #260 "scan with no seed swallows the value if the source only produces a single element"
[code]

[2019-01-12 06:08] #260 closed

[2019-01-28 16:54] DanielRuf opened #263 "Failing CI"
https://ci.appveyor.com/project/mattpodwysocki/ixjs/builds/21615478

**Expected behavior:**
CI should succeed.

**Actual behavior:**
CI fails.

**Additional information:**

[2019-01-28 18:14] trxcllnt commented on #263
Yeah Appveyor is flaky, because the `takeUntil` and `debounce` tests are non-deterministic. @mattpodwysocki and I have discussed hardening these operators, but the solution probably involves a implementing a deterministic test scheduler which we haven't gotten to.

[2019-01-28 18:44] trxcllnt commented on #263
Yeah, we do use Travis too: https://travis-ci.org/ReactiveX/IxJS/. I didn't know Travis does windows, I haven't been a windows guy for over a decade. I think @mattpodwysocki did the appveyor setup initially, Matt you got any feeling about this?

[2019-01-28 18:50] DanielRuf commented on #263
We already use it in a few projects like foundation-sites: https://blog.travis-ci.com/2018-10-11-windows-early-release

[2019-02-13 22:38] trxcllnt commented on #244
@felixfbecker started work on flatmap-concurrent in this branch: https://github.com/ReactiveX/IxJS/blob/8e17ccf01c12430bdef3b2feed58f526dfdb7ac0/src/asynciterable/operators/flatmap.ts#L54. The concurrent part is currently untested, blocked until the `rewrite` branch is ready @mattpodwysocki

[2019-02-13 22:50] jayphelps commented on #244
FWIW I also found this behavior unexpected, but then tried to write my own and realized why it currently works this way and the complexities involved in making it concurrent.

[2019-03-01 10:04] felixfbecker opened #265 "AsyncIterableX.pipe() is missing in published package"
**IxJS version:** 2.5.1 (latest)

`.pipe()` is missing in the latest version of Ix. It is present on master

https://unpkg.com/ix@2.5.1/asynciterable/asynciterablex.d.ts
https://github.com/ReactiveX/IxJS/blob/master/src/asynciterable/asynciterablex.ts

[2019-03-01 19:27] trxcllnt commented on #265
Ah yes, the type definition was moved to the `ix.node` file when we added stream support to pipe. I was intending to add the corresponding definition to `ix.dom` when we add whatwg DOM stream support there.

[2019-03-04 08:24] trxcllnt commented on #236
Resolved by https://github.com/ReactiveX/IxJS/pull/259

[2019-03-04 08:24] #236 closed

[2019-03-04 08:33] #205 closed

[2019-03-04 14:13] #265 closed

[2019-03-15 20:48] Zerchan opened #268 "AsyncIterable examples are wrong"
This is just a small issue I noticed with the AsyncIterable examples

In the 4th and 5th example of the AsyncIterable the results of the console logs are wrong, they should be 4 and 16

.map(async x => x * x) ---> this will be 2 * 2 and 4 * 4 right?

I know this is not important to the example itself, but it will be nice to have the results right.

Thanks.
And keep the good work on this library, i

[2019-03-21 11:52] riimeik opened #269 "TS type inference is broken for pipes of exactly two operators"
**IxJS version:** 2.5.2

**Typescript version:** 3.3.3

**Expected behavior:**

Types should be properly inferred from the type of the iterable and the return types of pipe operators.

**Actual behavior:**

When the pipe is given exactly two arguments, type inference breaks down:

[code]
This is the error that is reported:
![error](https://user-images.githubusercontent.com/13738028/54822584-fe3d63

[2019-03-21 16:47] trxcllnt commented on #269
@riimeik could you post those screenshots inline with the github issue? I'm getting `403 Forbidden` errors when I try to view them. I know we had to fix some things here in 2.5.2, but maybe I broke it in other ways.

[2019-03-22 12:23] riimeik commented on #269
@trxcllnt Updated the issue.

[2019-03-26 08:37] #269 closed

[2019-03-26 22:40] felixfbecker opened #271 "from() should be exported like other static operators from ix/iterable/index, not just sit on class"
I often use both Ix and Rx in one project, which means to avoid nameclashes I need to import Ix like this:
[code]

This allows me to e.g. reference `ix.concat()`, but I always have to write `ix.IterableX.from()`, which is annoying. Rx on the other hand allows me to do `rx.from()`.

[2019-03-26 22:41] felixfbecker opened #272 "Why do both concat() and concatStatic() exist?"
They seem to have the exact same signature and implementation, except that one allows 0-n args, while the other allows 1-n args.

[2019-03-27 04:52] trxcllnt commented on #271
Yeah, that's a pain. @mattpodwysocki does have this in-progress branch that moves everything around so it's structured more like Rx: https://github.com/ReactiveX/IxJS/pull/264. I think it's mostly done, but we've been having trouble getting vscode to recognize the tsconfig path mapping in the Ix tests

[2019-03-28 05:12] trxcllnt commented on #269
@riimeik this has been published in the 2.5.3 release

[2019-04-19 13:54] ShawnTalbert commented on #240
Isn't there API docs somewhere? I thought the main `readme.md` had a link to docs once upon a time? Or if not, it's pretty a common pattern to have API docs linked from the readme so that it show sup here on GitHub or npm.

[2019-04-19 15:02] ShawnTalbert opened #274 "ES5 AMD (i.e. Rhino/NetSuite compatible) build?"
Hello, I'd love to use RxJS in NetSuite (which uses an ES5.1 compatible version of the Rhino JS engine behind the scenes).

I've tried several of the existing builds, but none seem to work. The most promising one for this ES5.1 /AMD compatible environment seemed to be `@reactivex/ix-es5-umd` but it fails when their loader tries to load it with (I also tried using `Ix.dom.js`:

**I realize ES5.1 is

[2019-04-19 15:45] trxcllnt commented on #274
Hi @ShawnTalbert, yeah no worries this shouldn't be a problem. Just curious, do you see the same error if you import the `Ix.dom.js` file as well? `Ix.internal` is a file we build with extra exports so we can run tests on all the operator flavors (and it'll probably go away after #264 is finished).

If you are still seeing the error, are you consuming the UMD bundle with an AMD loader? I just reme

[2019-04-19 19:41] cwharris opened #275 "source.first() has ambiguous behavior."
**IxJS version:**
2.5.3

**Code to reproduce:**
[code]

**Expected behavior:**
 `first` throws an exception when no value is yielded from source.

**Actual behavior:**
`first` ambiguously yields `undefined` if no value is yielded from source.

**Additional information:**
`first` currently exhibits the ideal behavior of hypothetical `firstOrDefault()` / `firstOrDefault(undefined)` / `first(undefine

[2019-04-22 06:24] ShawnTalbert commented on #274
Thanks @trxcllnt! Although YES Rhino is being used in an "AMD" envrionment in my case, unfortunately NO the fix above didn't change anything in regards to my error.

I do know that (recent versions of) TSC's compiled output code header for UMD targets tends to work ok in this 'AMD' environment.

p.s. thanks for the clarification on the _internal_ verison of the file - I couldn't find any documenta

[2019-04-22 06:38] ShawnTalbert commented on #274
I also just tried `Ix.dom.es5.min` from the main `ix` package - same error :(

[2019-04-22 17:50] trxcllnt commented on #274
The es5/umd bundle is compiled via closure-compiler, and it's possible closure is minifying in a way that's not compatible with Rhino. I'm pretty sure closure is adding a few polyfills (Symbol, Promise, AsyncIterable), which it seems like you're noticing.

Can you use one of the non-minified targets, like es5-cjs? It's been a while, but I thought I recalled amd.js had some sort of common-js compat

[2019-04-22 21:06] ShawnTalbert commented on #274
One thing I eventually discovered is [this setup of] Rhino doesn't like reserved words as idenfifiers, so one location had `default()` as a property getter and it failed. Getting past that is where the `Symbol` and `ArrayBuffer` popped up as issues.

I don't get any control over the "AMD-like" environment I'm trying to use this code in (NetSuite). Technically this environment does support  `requir

[2019-04-22 21:57] trxcllnt commented on #274
Yes the CC build is a bit convoluted because closure-compiler is... special. To get it to work we first have tsc compile the source to ES6 + ESModules, then have closure minify that down to es5/umd. I think the `"module": "umd"` in tsc is newer than our build config, so I haven't tried it yet.

One feature of our setup is we run all the tests on each compiled result rather than the source, if you

[2019-05-01 01:18] ShawnTalbert commented on #274
thanks Paul, I haven't needed to stand this runtime up myself but I'll see what I can come up with for a minimal docker setup. Out of town lately (windows only mode) but will see what I can whip up on linux when I returns. Thanks for offering to look into it. I really would like to try out the library in this environment.

[2019-05-02 01:03] #212 closed

[2019-05-14 06:46] proteriax opened #276 "String should be iterable"
**IxJS version:** 2.5.3

**Code to reproduce:**
[code]

**Expected behavior:**
Returns an `Iterable<string>` of each character.

**Actual behavior:**
[code]

**Additional information:**
Culprit is here:
[code]

[2019-05-14 07:59] trxcllnt commented on #276
ah yes. @mattpodwysocki any reason we're casting against to an object in this check? @glixlur in the meantime, you can pass the string's Iterator to `Iterable.from()`.

[2019-06-27 21:13] imcotton opened #279 "esnext to es2018"
Given both **TypeScript** and **ClosureCompiler** have fixed `es2018` targeting, good to lock down `es2018` instead of `esnext`?

[2019-06-27 21:49] trxcllnt commented on #279
yeah!

[2019-08-25 09:23] backbone87 opened #280 "timeout does not call return on source iterator"
https://github.com/ReactiveX/IxJS/blob/master/src/asynciterable/timeout.ts#L31

**IxJS version:** 2.5.3

**Code to reproduce:**
[code]

**Expected behavior:**
timeout returns the source iterator and therefore `finally` getting logged

**Actual behavior:**
timeout does not return the source iterator and therefore `finally` never gets logged

**Additional information:**
wrapping the whole while loop

[2019-08-25 21:08] backbone87 commented on #280
seems finally itself has the same problem. do i get something wrong about the concept or are the intermediate iterables responsible for returning the source iterables?

[2019-08-29 20:42] WorldMaker opened #281 "Typescript 3.6"
**IxJS version:** 2.5.3

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

IxJS does not compile with the updates that have been made to the standard library in Typescript 3.6, especially with the changes to Iterable types in 3.6 it appears. (Maybe especially there with `strictNullTypes` on because a lot of the places seem to be `SomeType | undefined is not assignable to SomeTy

[2019-08-29 20:54] trxcllnt commented on #281
Thanks for the report. I haven't been following the 3.6 changes, but I'll look into it. @mattpodwysocki this is probably worth fixing before releasing the rewrite branch.

[2019-08-30 03:37] cartant commented on #281
FWIW, this could be related to what appears to be a TypeScript-3.6 bug that effects inference errors in RxJS: https://github.com/ReactiveX/rxjs/issues/4992 https://github.com/microsoft/TypeScript/issues/33131 https://github.com/microsoft/TypeScript/issues/33125

[2019-09-02 19:36] michaelsbradleyjr opened #282 "debounce behavior"
**IxJS version:** 2.5.3 *(RxJS version: 6.5.2, Node.js version: 10.16.3)*

**Code to reproduce:** [debouncePipe.js](https://gist.github.com/michaelsbradleyjr/5abf097e9c2b99d101003d6c2cafb1ed)

**Expected behavior:**

When the script is run as-is:

[code]

And that's what I expected when debouncing the Rx pipe.

Now, if line 32 is commented and 34 is uncommented, so that the pull pipe is debounced

[2019-09-11 02:34] cartant commented on #281
Also, the problem is likely fixed in TypeScript 3.6.3 - that release fixed the problems that were effected in RxJS.

[2019-09-18 22:13] weswigham commented on #281
If you're getting errors about an `Iterator` or `IterableIterator`, it's probably because the version of `@types/node` in your project needs an update.

[2019-10-03 14:42] lmmarsano commented on #281
Error compiling with ixjs
[code]
ixjs version
[code]

nope
[code]

nope
[code]

[2019-10-10 00:27] graingert opened #283 "consider deprecation in favour of built in methods (Iterator Helpers Proposal)"
https://github.com/tc39/proposal-iterator-helpers
with example implementation:
https://github.com/zloirock/core-js/blob/master/packages/core-js/proposals/iterator-helpers.js

[2019-11-20 20:02] millimoose opened #284 "ExtremaByAsyncIterator doesn't produce the expected result when the extremum is the first item of the source."
**IxJS version:**
2.5.3

**Code to reproduce:**

[code]

**Expected behavior:**

The logged output is the array `[{x: 3}]

**Actual behavior:**

The output is the empty array `[]`.

**Additional information:**

The example code produces the expected output if `yield {x: 3}` is anything but the first yielded value.

[2019-11-20 20:09] millimoose commented on #284
The bug seems to be around here: https://github.com/ReactiveX/IxJS/blob/7b393b4a08bec30a511b4fc9b25c21a048a6d7ce/src/asynciterable/_extremaby.ts#L39

The value of `current` is never actually used anywhere, this should probably be:

[code]

with the `let curr` declaration below just reassigning this variable instead.

[2019-11-21 04:09] millimoose commented on #283
Why? Ix supports many more operators than that proposal.

[2019-11-28 11:52] felixfbecker opened #285 "catchWith typings are incomplete"
**IxJS version:** 2.5.3

**Code to reproduce:**

[code]

**Expected behavior:**

Type of `foo` should be `AsyncIterableX<number | string>`, no compile error.
Type of `bar` should be `AsyncIterableX<number>`

**Actual behavior:**

`foo`: Compile error.
`bar`: `AsyncIterable<any>`.

**Additional information:**

`catchWith` needs to have a return type is the union of the function return and the input

[2019-12-20 12:40] jonatannyberg opened #286 "Transpilation error when using Ix with typescript 3.7.3"
**IxJS version:** 2.5.3

**Code to reproduce:**
`import { Iterable } from 'ix'` (for example)

Transpile with typescript 3.7.2 or 3.7.3 using tsconfig.json generated with `tsc --init`.

**Expected behavior:**
For this to transpile successfully using typescript 3.7.2 and 3.7.3.

**Actual behavior:**
Produces two transpilation errors with typescript 3.7.2 or 3.7.3:
[code]

**Additional information:*

[2019-12-20 16:07] nancyyhong commented on #286
I've just created a PR that should fix this

https://github.com/ReactiveX/IxJS/pull/287

[2020-01-07 19:36] #275 closed

[2020-02-04 15:17] darky opened #290 "bump 3.0.0 to npm"
**IxJS version:** 3.0.0

**Expected behavior:** 3.0.0 in npm

**Actual behavior:** 3.0.0 not in npm

[2020-02-04 20:28] trxcllnt commented on #290
Thanks, looks like we forgot that step. It's published now.

[2020-02-04 20:29] #290 closed

[2020-02-08 20:07] michaelsbradleyjr commented on #286
Since #287, this issue should be closed.

[2020-02-09 03:28] #286 closed

[2020-02-19 19:40] millimoose commented on #284
Bug remains in 3.0.0, an updated reproduction would be:
[code]

[2020-02-19 20:44] millimoose opened #294 "Proposal: add pipeable versions of functions like `toArray` or 'reduce'"
Currently, only functions that both take and return an `Iterable` (or `AsyncIterable`) are available as pipeable operators; functions that take an `Iterable` and return some "scalar" value are not.

This means that e.g. code that uses piping that needs to return an array - which is common in my codebase because very little third-party JS code works with `Iterable`s - has to be written like this:
[

[2020-02-20 14:51] #284 closed

[2020-02-20 16:58] JoshuaKGoldberg opened #296 "Remove some linter formatting rules safely to fully kill TSLint?"
Hi, thanks for migrating from TSLint to ESLint! (https://github.com/ReactiveX/IxJS/pull/295/files)

There are a couple of rules in your [`.eslintrc.js`](https://github.com/ReactiveX/IxJS/pull/295/files#diff-e4403a877d80de653400d88d85e4801a) from TSLint that are still enabled via [eslint-plugin-tslint](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin-tslint)

[2020-02-21 04:12] #296 closed

[2020-02-23 16:32] ShlomiAltostra opened #299 "Version 2.5.4 is breaking"
**IxJS version: [2.5.4](https://www.npmjs.com/package/ix/v/2.5.4)**

**Code to reproduce:**

[code]

**Expected behavior:**
Importing specific pipe operator from `iterable/pipe/*` should work

**Actual behavior:**
Error of cannot find module

[2020-02-24 15:45] ghuser opened #300 "Doc: Add Observable to ObservableAsyncIterable conversion to the examples."
**IxJS version:**

3.0.1

**Code to reproduce:**

**Expected behavior:**

**Actual behavior:**

**Additional information:**

From what I've seen one of the features of `ix` is to be able to convert an existing `Observable` to a  `FromObservableAsyncIterable` which can be used in `for await` loop. This is done if we pass an observable to the `from()` method.

e.g.

[code]

Shouldn't such an example

[2020-02-24 18:51] trxcllnt commented on #299
Yeah sorry had a publish snafu saturday and accidentally published 3.0.1 with the 2.5.4 tag. I'll re-publish 2.5.3 as 2.5.5 today.

[2020-02-24 19:30] trxcllnt commented on #299
Just re-published the v2.5.3 tag as v2.5.5, let me know if that doesn't fix it. Sorry for the confusion!

[2020-02-25 08:14] ShlomiAltostra commented on #299
Thanks!

[2020-02-25 08:14] #299 closed

[2020-04-25 22:11] #276 closed

[2020-07-10 17:19] estaub opened #305 "Doc: node.js async integration patterns"
Some guidance and/or examples on use (or non-use!) with node.js would be helpful.  Things like:
- use with node callback idioms, streams, etc.  I'd guess that async iterators and async generators should be used as shims, but I'm just guessing
- cautions where important node.js functionality becomes hard to access

I'm just kicking the tires now - I haven't written a line of code, so I can't be mor

[2020-07-10 17:58] trxcllnt commented on #305
I agree we should have better docs for these. At the moment, the tests are the best examples to reference.

* [`fromNodeStream`](https://github.com/ReactiveX/IxJS/blob/3218613193258c4d817a4dcbf2423df0e070d516/spec/asynciterable/fromnodestream-spec.ts#L31-L45) converts a node stream to an `Ix.AsyncIterable`
* [`toNodeStream`](https://github.com/ReactiveX/IxJS/blob/3218613193258c4d817a4dcbf2423df0e0

[2020-08-18 21:19] arturohernandez10 opened #306 "Operators documentation"
I will find a way to use this library. The main reason is that I want the flexibility that it will give to my code. But one major hurdle that I can see is the lack of documentation on the operators. I understand that this operators are modeled after RxJs and other libraries. But it would be nice to have at least a list of functions, and if there is parity with Rxjs. Maybe a few links to online tut

[2020-08-27 22:34] timcash commented on #300
Great question. Did it get added?

[2020-08-31 21:51] trxcllnt commented on #300
@timcash Yes, I believe we have this tested [here](https://github.com/ReactiveX/IxJS/blob/master/spec/asynciterable/from-spec.ts#L177-L259).

[2020-09-12 21:46] #263 closed

[2020-10-15 03:44] KilianKilmister commented on #305
@trxcllnt NodeJS has [native ways] for interactions between streams and unrelated async iterables.

- the static `Readable.from`
- any stream is an async iterable by default (implementing `Symbol.asyncIterable`)
- the `pipeline` function (also correclty propagates errors and deals with backpressure)

These have worked great for me in the past (i find that nodejs streams can be a bit cumbersome to

[2020-10-15 13:34] trxcllnt commented on #305
@KilianKilmister I believe the Ix methods predate most of the node core ones, but they're complementary. Use whatever works for you!

[2020-11-05 19:42] michaelsbradleyjr opened #309 "ix behavior in relation to spec for Iterator Helpers"
Earlier this year I made a [request for clarification](https://github.com/zloirock/core-js/issues/765) to the [core-js](https://github.com/zloirock/core-js) project re: the behavior of that project's implementation of `AsyncIterator` and the helper APIs.

What it boiled down to: `ix` and JS built-in `for await...of` did what I expect while `core-js` didn't. See the following:

[code]

[code]

[cod

[2020-11-09 22:13] trxcllnt commented on #309
Oh my

[2020-12-08 22:52] robbertkl opened #310 "Adding a helper module for bringing in everything"
I'm using the operators on the (Async)Iterable as props, using the `ix/add/...` imports, which works great!

I'm often in a situation where I'm not bundling and could really use a "fully loaded" (Async)Iterable with a single import. This gives me autocomplete for all operators and allows for more rapid prototyping, by saving time on managing all the separate imports (since they're not named import

[2020-12-09 03:16] trxcllnt commented on #310
Assuming you have the main `ix` module installed, I think this is available via `import * as Ix from 'ix/iIx.node';`. Let me know if that isn't working for you!

[2020-12-13 01:10] robbertkl commented on #310
That's perfect, just what I was looking for!

[code]

This gives me the fully loaded iterables to work with. Thanks @trxcllnt 🥇

[2020-12-13 01:10] #310 closed

[2020-12-13 21:27] trxcllnt commented on #310
No problem, happy to help @robbertkl! Glad I convinced @mattpodwysocki  we should keep this export (along with all the "add" modules) when we redid the exports.

[2020-12-17 13:32] tvedtorama opened #311 "What happened to the function signature on reduce (and scan)?"
I tried to upgrade to v4, but all my reduce-related code failed to compile.  Turns out the signature for reduce is no longer the same as for array.reduce, with an options-object instead of the two arguments for callback and seed.

This will not compute for me, as it requires huge rewrites.  Also, functions requiring an object with a reduce function, will no longer work with IterableX-instances, on

[2020-12-18 00:22] trxcllnt commented on #311
@tvedtorama IIRC AsyncIterable's `scan` and `reduce` signatures changed to accommodate an optional [AbortSignal addition](https://github.com/ReactiveX/IxJS/commit/6e848f16116a21cb650e441826c30893fd73c32b#diff-b0d96d7a20e8f6af1f9193b49fb43dba437c621c3bdb0d560e3223ecc5ae9199), so I imagine @mattpodwysocki updated Iterable's signatures to maintain symmetry.

That said, it'd be good if Iterable's sign

[2020-12-18 05:49] tvedtorama commented on #311
Ok,

thank you - that explains the change.  I still think this might be a major issue with many upgraders, though.  Perhaps it could be possible to support both function signatures?

[2020-12-18 18:06] trxcllnt commented on #311
@tvedtorama Yeah, we should be able to do that easily. I'll open a PR.

[2020-12-23 10:21] #311 closed

[2021-01-11 20:07] KonanMentor opened #315 "takeUntil should complete iterator immediately"
**IxJS version:** 4.0.0

**Code to reproduce:**
[code]

**Expected behavior:**
Node process exits immediately.

**Actual behavior:**
Node process runs forever.

**Additional information:**
[code]

We want to stop iterating immediately.

`*never()` never yields a value. Current [implementation](https://github.com/ReactiveX/IxJS/blob/79be89cdce26f65434072ddfcbd9bf815dc1df19/src/asynciterable/operato

[2021-01-14 18:25] #315 closed

[2021-01-21 18:53] trxcllnt commented on #311
@tvedtorama just published `ix@4.1.0` with this fix. Thanks!

[2021-02-01 07:59] jajaperson opened #319 "docs(readme): `Array#extras` link is defunct"
The link in README to <https://devblogs.microsoft.com/blogs.msdn.com/13> is defunct, I am not sure where this is meant to go.

[2021-02-01 18:57] trxcllnt commented on #319
@mattpodwysocki looks like blogs.msdn.com removed the Array Extras archive link: http://blogs.msdn.com/b/ie/archive/2010/12/13/ecmascript-5-part-2-array-extras.aspx

Is there another one we can link to?

[2021-02-06 23:35] conartist6 commented on #309
Wow, that's interesting. I'm going to take a look at this in [iter-tools](https://github.com/iter-tools/iter-tools) as well.

[2021-02-06 23:41] conartist6 commented on #309
My initial reaction is that it should be raised with the spec authors. I'm biased as a library maintainer but I expect it to be possible to implement `forEach` using `for..of`. I think I'd also expect the mechanics to be equivalent as a user. It's a big deal for libraries too because this will affect many methods, not just `forEach`. If the spec says that none of them can be implemented safely wit

[2021-02-07 16:10] conartist6 commented on #306
If you're interested, `iter-tools` has similar functionality with [full documentation](https://github.com/iter-tools/iter-tools/blob/trunk/API.md).

[2021-02-11 15:29] #306 closed

[2021-02-21 19:02] jrvidal opened #320 "Spurious 'unhandledRejection' events"
**IxJS version:** 4.2.0

**Code to reproduce:**
[code]

**Expected behavior:**
No "Unhandled rejection" message should be printed.

**Actual behavior:**
An "Unhandled rejection" error gets printed:
[code]

**Additional information:**

I think the root cause is [here](https://github.com/ReactiveX/IxJS/blob/41382bb542298ec0fe98e911db02abd837af07ca/src/asynciterable/operators/batch.ts#L68), where a r

[2021-03-22 19:28] nordfjord opened #322 "Weird memory behaviour with merge"
I've been running into very strange memory behaviour with `merge`d async iterables.

Some investigation leads me to believe `Promise.race` is the culprit.

I used this test-case locally:

[code]

Then I looked at the memory tools in chrome and found that memory was steadily increasing. It seems that promise references are kept around in memory until both promises have emitted when using `Promise.r

[2021-03-24 02:42] nordfjord commented on #322
Closing as this was solved with #323 and released in `ix@4.3.1`

[2021-03-24 02:42] #322 closed

[2021-06-03 23:42] andreasdamm opened #325 "async timeout operator does not pass through its input"
**IxJS version:**
4.3.1

**Code to reproduce:**
`const {of, first} = require('ix/asynciterable')
const {timeout} = require('ix/asynciterable/operators')

async function main()
{
    const value = await first(of(42).pipe(timeout(100)))
    console.log(value)
}

main()`

**Expected behavior:**
output '42' to the console

**Actual behavior:**
outputs 'undefined' to the console

**Additional informati

[2021-06-08 14:19] buzzware opened #326 "pipe() should work recursively, and the free standing pipe() should work inside the pipe chain method"
pipe() can be used as a chain method with a series of operators
from([1,2,3]).pipe(map(x=>x*3),filter(x=>x%2==0));
but I would like to dynamically build my pipeline before using it. To do that I would like to have operator() methods that return one or more operators. It would make sense then if returning a pipe of operators would qualify as returning an operator.

function operator1() {
  return p

[2021-06-08 16:02] trxcllnt commented on #326
Does this not work?

[code]

[2021-06-08 16:03] trxcllnt commented on #325
Yeah this is wrong. We'll fix it.

[2021-06-09 04:54] buzzware commented on #326
@trxcllnt yes that does work.
I suppose I could either
1) just use your operator1 style, and still use pipe for a single operator
2) have the abstract operator function return either op() or [opA(),opB()] and use lodash  flatten(castArray(operator())) the array before calling pipe(...operators).

I don't find your operator2 style intuitive. But if I was to adopt that, I would expect
pipe(map(x =>

[2021-06-09 15:56] trxcllnt commented on #326
The style I described is how all the Ix operators [are implemented](https://github.com/ReactiveX/IxJS/blob/0bdb6c33f5fcefba2cbd390213b68c80b5816451/src/asynciterable/operators/map.ts#L53-L55); functions which return functions that take a source iterable and return a result iterable. `pipe()` is a specialization of left-fold over a list of functions with the signature `(source: TSource) => TResult`

[2021-06-09 19:19] #320 closed

[2021-06-09 19:34] #238 closed

[2021-06-09 20:51] trxcllnt commented on #325
Fix released in `ix@4.4.0`.

[2021-06-09 20:51] trxcllnt commented on #320
Fix released in `ix@4.4.0`.

[2021-06-10 00:59] buzzware commented on #326
Thanks for that, I haven't had enough functional experience to write that quickly.
Yes, your compose() is what I was expecting from the standalone pipe().
This can't be a special need - could you add something like compose to the library?

[2021-07-04 17:00] conartist6 opened #329 "Merge with iter-tools?"
Just curious to hear what the reactions to this might be. I'm the maintainer of iter-tools, and I've put quite a lot of work into it. It has a level of polish that I think ix lacks, but I suspect that ix has many more users/usages.

Let me go into a little more detail. iter-tools has full API documentation and 99% test coverage. It has universal testing invariants, e.g. any test will fail if the i

[2021-07-06 14:51] trxcllnt commented on #329
Ix is largely a port of [.NET's `System.Interactive`](https://www.nuget.org/packages/System.Interactive/) package (@mattpodwysocki was a member of the LINQ team), making it the iterable (and async-iterable) dual to [RxJS](https://github.com/reactivex/rxjs/).

The motivations to this point have been to maintain duality with Rx and faithfully port System.Interactive to idiomatic TS/JS, but it's defi

[2021-07-14 09:36] gewoonjerry opened #331 "Typescript >= 4.3.2"
IxJS does not compile anymore when using typescript >= 4.2.3 (which is required for Angular 12)

Compiler returns the following errors:
node_modules/ix/asynciterable/todomstream.d.ts:36:55 - error TS2304: Cannot find name 'PipeOptions'.
node_modules/ix/iterable/todomstream.d.ts:19:22 - error TS2304: Cannot find name 'PipeOptions'.

**IxJS version:** 4.4.1

**Additional information:**
Typescript ve

[2021-07-14 17:19] trxcllnt commented on #331
Ah yes, because they removed those types. Shit.

[2021-07-16 15:07] richardscarrott commented on #305
@trxcllnt I'm struggling to get ix to play nicely with node streams, e.g.

[code]

Am I missing something obvious here?

[2021-07-16 17:10] richardscarrott commented on #305
Ok figured out my issue, I had to explicitly import (and log to avoid the TS compiler just removing the import) `ix/asynciterable/tonodestream`:
[code]

I guess it mutates the prototype... is there a better practice for importing this ix?

[2021-07-16 18:35] richardscarrott commented on #244
@felixfbecker is that `flatMapConcurrent` theory or something that could be used; I wonder if you could share an example?

[2021-07-19 22:09] trxcllnt commented on #305
@richardscarrott does `import 'ix/asynciterable/tonodestream'` not work?

[2021-07-21 08:49] richardscarrott commented on #305
@trxcllnt yes I think it does actually 👍

[2021-07-22 20:31] #331 closed

[2021-08-13 11:56] vansergen opened #335 "[Suggestion]: Update `@types/node`"
**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2021-08-19 13:58] conartist6 commented on #329
Somehow I never saw this. Thanks for the background on the project and its maintainers! I've also been finding it difficult to summon the time and energy to do the work I've planned for iter-tools, which is one of the main reasons I'm interested in seeking out more collaboration.

I'm ashamed to admit that I don't know very much about how iter-tools perf holds up in the wild. I know it has some un

[2021-08-24 20:19] zloirock commented on #309
It's fixed in current versions of `core-js` and proposal.

[2021-09-02 01:02] tim-smart commented on #244
Actually it doesn't work unless you `publish` the stream first. Updated code:

[code]

[2021-09-10 10:23] dineug opened #337 "vite environment ix package load error"
**IxJS version:**
4.5.1

**Code to reproduce:**
https://github.com/dineug/vite-ix-issue
[code]

**Expected behavior:**
Module load.

**Actual behavior:**
not found module

**Additional information:**
https://github.com/vitejs/vite/issues/4892

[2021-09-10 10:33] #337 closed

[2022-01-05 07:43] BrutalSimplicity commented on #240
Am I missing something or has this library remained only partially documented for the last 2 years?

The link above is ok, but it would be nice if there were more complete examples of the more esoteric functions.

[2022-01-13 22:13] andersstorhaug opened #339 "Usage with Skypack CDN?"
I am attempting to use a package via [Skypack](https://www.skypack.dev/) that depends on IxJS.

This package understandably depends on `ix`, but that doesn't work with Skypack because as far as I can tell, `package.json` doesn't have any [ESM properties](https://docs.skypack.dev/package-authors/package-checks#esm).

If I try to use the `ix` package directly via Skypack with `import { from } from "

[2022-01-16 22:50] andersstorhaug commented on #339
A little more info, I can get this library that's dependent on IxJS to work through [JSPM](https://jspm.org/) which utilizes import maps (+shim). This seems to show that it is indeed IxJS's `package.json` that makes it incompatible with ESM-based CDNs, such as Skypack, esm.sh, JsDelivr with `/+esm`.

I'm hoping that a simple change to `package.json` would allow for these CDNs to be used, but, I'm

[2022-01-19 01:16] trxcllnt commented on #339
We should be able to update the published package.json to be compatible. I'll add it to my mental todo list.

[2022-03-21 21:45] #244 closed

[2022-04-21 15:46] ukstv opened #342 "ES modules do not work"
Pals, the project is awesome. Yet, despite all the effort dedicated to packaging, one can not use it in Node16, from ES modules.

First, you do not use conditional exports to specify import paths like `ix/asynciterable` or `ix/asynciterable/operators`.

Second, the JS code which is supposed to conform to ES modules format uses extension-less imports.
For example, in `ix-esnext-esm/asynciterable/in

[2022-04-25 19:25] trxcllnt commented on #342
Yeah, the node ESM stuff has changed (again) since we last updated the packaging. I think we've finally got it all working in [Arrow](https://github.com/apache/arrow/tree/master/js), I just haven't back-ported the changes to the IxJS build system yet.

I wrote the IxJS and Arrow build scripts around the same time and intended to support the same things, so they are very similar. Now just have to p

[2022-07-07 01:18] WorldMaker opened #345 "Build errors with Typescript 4.7.4"
**IxJS version:** 4.5.2

**Code to reproduce:**

Using `@reactivex/ix-ts` in webpack (4) with fork-ts-checker-webpack-plugin (6) and Typescript (4.7.4).

tsconfig.json excerpt:

[code]

**Expected behavior:**

Compiles without errors originating in `node_modules/@reactivex/ix-ts`.

**Actual behavior:**

[code]

**Additional information:**

The two `toNodeStream` errors are wrapped in `if (isBrowse

[2022-07-26 03:00] trxcllnt commented on #319
Fixed in https://github.com/ReactiveX/IxJS/pull/343

[2022-07-26 03:00] #319 closed

[2022-07-26 22:03] #280 closed

[2022-07-27 18:32] trxcllnt commented on #280
Got this implemented in the regular builds, but there seems to be a bug in closure-compiler: https://github.com/google/closure-compiler/issues/3971

[2022-10-14 11:03] CMCDragonkai opened #349 "Take while inclusive"
Rxjs 6.x has take while inclusive. It can take the first parameter that failed the condition.

Can ixjs have this too?

[2022-11-27 16:08] the-spyke opened #351 "Operator flat concurrency issue with async iterables"
**IxJS version:**

5.0.0

**Code to reproduce:**

[code]

Where `asyncIterable` is a sequence of another async iterables.

**Expected behavior:**

Outer should be pulled only if there's no inner to continue:
[code]

**Actual behavior:**

Outers are pulled several times in a row:
[code]

**Additional information:**

I didn't find the exact issue as `_flatten` is quite complicated, but `src/asyncite

[2022-11-28 20:02] trxcllnt commented on #351
You're right that `flat()` needs to propagate the `concurrent` parameter down in its recursive call. But I believe the underlying behavior you're seeing is working as intended.

Here's a more complete example to illustrate:
[code]

As we can see, the inner values are enumerated sequentially.

The outer async iterables are pulled immediately because we must use `Promise.race()` ([here](https://gith

[2022-11-28 20:58] the-spyke commented on #351
@trxcllnt Thank you for the explanation. I'm trying to use lazy pipelines for data streaming to keep memory footprint and CPU profile low. My current use case:

[code]

By the time of the first `transform` the `cursor` may be exhausted, the full dataset is in memory, and it made a dozen of API calls.

Will the Infinite concurrency flood Node's event loop? I tried an example with non uniform timing

[2022-11-28 20:58] #351 closed

[2022-11-28 21:22] trxcllnt commented on #351
The `concurrent` parameter refers to the number of inner sequences that are flattened at the same time. So if you have an outer source AsyncIterable that immediately yields 10 inner sequences, then `concurrent=Infinity` will flatten all 10 inner sequences and yield their values in the order they arrive. This aligns the behavior of Rx's `flatMap()`.

I can't tell exactly what you're trying to achie

[2022-11-28 21:36] the-spyke commented on #351
I was saying that readme mentions iterators, so it is not RxJS (observables). The next operation in the chain drives the pipeline. If I have the outer data source that could produce 1000 items, each of which could be `flat()` into 1000 more. By the time of the second `map(transform)` how many items will be in the memory? 1 million - 1?

I will try `concatMap` tomorrow, thank you!

[2022-11-28 21:56] trxcllnt commented on #351
There will only be 1 element in memory at any given moment (assuming extremely aggressive GC behavior, obviously), and `transform` will have been called 1M times. If you introduce an unbounded buffer before `transform` (or using an operator that buffers internally, like `join()`), then yes there will be 1M elements in the buffer.

[2022-11-28 23:40] the-spyke commented on #351
From your comment above:

[code]

When you see `outer` in my case a DB query is executed. So, by the time of the `inner 0-0` 3 queries were executed. Each produces 1K items. The `query-0` is in memory, 2 others may possibly be too (depends on network, etc). Then `flat()` calls itself recursively if the depth wasn't set, which means right after `query-0` fulfilled items of that query will be `outer

[2022-11-29 19:31] trxcllnt commented on #351
You could wrap each outer sequence in [AsyncIterable `defer`](https://github.com/ReactiveX/IxJS/blob/f07b7ef4095120f1ef21a4023030c75b36335cd1/src/asynciterable/defer.ts#L32), so the DB query is only executed when the AsyncIterable is enumerated?